.FooterSection {
    width: 100%;
    padding: 20px 5px;
    background-color:  #d9efff;
    color: #000;
    text-align: center;
}

.FooterLink {
    color: #fff
}


.FooterLink:hover {
    color: hotpink;

}